.container {
    margin: 0 15%;
    text-align: center;
}

.nav {
    background-color: #818081;
}

.boxes {
    margin: 5% 0 5% 0;
    height: 400px;
}

.left-box {
    background-color: #0300fd;
    width: 50%;
    float: left;
}

.right-box {
    background-color: #fe0001;
    width: 25%;
    float: right;
}

span {
    line-height: 400px;
}

.footer {
    background-color: #028002;
    margin-top: 100px;
}